---
Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  clang-analyzer-*,

  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions
WarningsAsErrors: ''

CheckOptions:
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: true
...